<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Finder uses this metadata to identify the wrapped PyInstaller binary. -->
	<key>CFBundleDisplayName</key>
	<string>CSV Splitter</string>
	<key>CFBundleExecutable</key>
	<string>CSV_Splitter</string>
	<key>CFBundleIconFile</key>
	<string>app_icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>cool.cnb.CodeAnt2026.CSVSplitter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CSV Splitter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.6</string>
	<key>CFBundleVersion</key>
	<string>0.2.6</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
